@import 'mixin';
@import 'variables';


@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #EBC815, 0 0 20px #EBC815, 0 0 25px #EBC815, 0 0 30px;
  }

  to {
    text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #EBC815, 0 0 30px #EBC815, 0 0 35px #EBC815, 0 0 40px;
  }
}

.App {
  background-color: black;
  color: transparent;
  width: 100vw;
  height: 100vh;

  h1 {
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
}