@import 'mixin';
@import 'variables';

.Content {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-bottom: 5%;

    &__bg{
        background-color: black;
        @include nineslice($baseImageUrl+"frame_large.png", 25, 30, 30, 30);
        max-height: 1200px;
        max-width: 900px;
        width: 900px;
        height: fit-content;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__header{
        @include nineslice($baseImageUrl+"frame_small.png", 15, 150, 27, 160);
        margin-top: -35px;
        color: white;
        position: absolute;
        font-size: calc(16px + 0.8vw);

        min-height: 60px;
        max-height: 100px;
        min-width: 100px;
        width: calc(10rem + 8vw);
        height: calc(4rem + 2vw);

        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            padding-bottom: 15px;
        }
    }

    &__container {
        max-height: 1100px;
        overflow-y: scroll;
        width: 90%;
        margin-top: 10%;
        margin-bottom: 50px;
        padding: 0 30px 30px 30px;

        @include respond-to(small-mobile){
            margin-top: 15%;
            padding: 0 10px 20px 10px;
        }
    }
}