.CovidTable{
    margin-top: 30px;
    width: 100%;

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
      }

      th, td {
        font-size: calc(16px + 0.5vw);
        text-align: center;
        padding: 8px;
        border: 1px solid #ddd;
      }

      tr:nth-child(odd){background-color: #363636}
}