.CovidTable{
    margin-top: 30px;
    width: 100%;

    h2{
      text-align: center;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
      }

      th, td {
        font-size: calc(16px + 0.5vw);
        text-align: center;
        padding: 8px;
        border: 1px solid #ddd;

        @include respond-to(small-mobile){
          font-size: calc(12px + 0.5vw);
      }
      }

      tr:nth-child(odd){background-color: #363636}
}