@import 'mixin';
@import 'variables';

.Flag {
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    &__imgContainer{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 28%;
        text-align: center;

        @include respond-to(mobile){
            width: 300px;
            min-width: 100px;
            flex: 0 1 45%;
        }

        @include respond-to(small-mobile){
            width: calc(100px + 3vw);
            min-width: 60vw;

            flex: 0 1 80%;
        }

        img{
            background-color: transparent;
            width: 100%;
            height: auto;
            object-fit: contain;
            max-height: 150px;

            @include respond-to(mobile){
                max-height: 500px;
            }
        }

        p{
            font-size: larger;
            color: white;
        }
    }
}