.Header {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url($baseImageUrl +"BG.png");

    width: 100%;
    height: 40vmax;
    min-height: 200px;

    @include respond-to(mobile){
      height: fromPxToRef(200, 1000);
    }

    /* Position and center the image to scale nicely on all screens */
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;

  &__hero {
    position: relative;
    background-color: transparent;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    color: white;
    left: 50%;
    top: 50%;

    font-size: calc(10px + 5vw);
    font-weight: bold;
    overflow: hidden;

    @include respond-to(mobile){
      font-size: calc(10px + 3vw);
    }
  }
}