.Header {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url($baseImageUrl +"BG.png");

    width: 100%;
    height: 40vmax;
    min-height: 200px;
    max-height: calc(200px + 25vw);

    /* Position and center the image to scale nicely on all screens */
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;

  &__hero {
    position: relative;
    background-color: transparent;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;

    color: #EBC815;
    -webkit-text-stroke: 2px #f0ecec7a;
    text-shadow: 8px 4px rgba(63, 63, 63, 0.5);
    font-size: calc(10px + 5vw);
    font-weight: bold;
    overflow: hidden;
    padding: 5%;

    @include respond-to(mobile){
      font-size: calc(10px + 3vw);
    }

    h2{
      font-size: calc(10px + 2vw);
    }
  }
}