@import 'mixin';

@import 'app';
@import 'flag';
@import 'content';
@import 'header';
@import 'country';
@import 'covidtable';
@import 'error';

@include google-font('Castoro&family=Source+Code+Pro');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

  body{
    font-family: 'Castoro', serif;
  }

  code {
    font-family: 'Source Code Pro', monospace !important;
  }